.side-nav {
  padding: 1rem;
  background: rgba(20, 20, 20, 0.6);
}

.rooms-nav {
  height: 40%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
