.side-nav {
  padding: 1rem;
  background: var(--primary-700);
}

.rooms-nav {
  height: 40%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
