*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
}

.page-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.main {
  display: flex;
  flex-direction: column;
}

.room {
  flex-grow: 1;
}
